# Motor0
[stepper_x]
enable_pin: !PF14
step_pin: PF13
dir_pin: !PF12
microsteps: 16
rotation_distance: 40 #DEFAUT
#endstop_pin: PG6
position_endstop: 350
position_max: 350 
homing_speed: 20
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0

# Motor1
[stepper_y]
enable_pin: !PF15
step_pin: PG0
dir_pin: !PG1
microsteps: 16
rotation_distance: 40 #DEFAULT
#endstop_pin: PG9
position_endstop: 350
position_max: 350
homing_speed: 20
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0

# Motor2
[stepper_z]
enable_pin: !PA0
step_pin: PG4
dir_pin: !PC1  
microsteps: 16
rotation_distance: 4.0 #DEFAULT
#rotation_distance: 3.98
endstop_pin: probe:z_virtual_endstop
position_max: 400
position_min: -4  
homing_speed: 10.0

# Motor3
[stepper_z1]
enable_pin: !PG5
step_pin: PF11
dir_pin: !PG3
#enable_pin: !PG5
#step_pin: PF11
#dir_pin: !PG3
microsteps: 16
rotation_distance: 4.0 #DEFAULT
# rotation_distance: 3.98
endstop_pin:probe:z_virtual_endstop

# Motor4
[extruder]
enable_pin: !PG2
step_pin: PF9
dir_pin: PF10
microsteps: 16 
rotation_distance: 7.58
# default rotation distance is 33.683 
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA3 # HE0
sensor_pin:  PF4 # T0
sensor_type: EPCOS 100K B57560G104F
max_extrude_only_distance: 100.0
#control: pid
#pid_Kp: 22.2 , #pid_Ki: 1.08, #pid_Kd: 114 # removed 10/04/2022
#pid_Kp=25.611
#pid_Ki=1.498
#pid_Kd=109.487
min_temp: 0
max_temp: 260
#pressure_advance = 0.6 
min_extrude_temp = 0

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC4
run_current: 0.800
stealthchop_threshold: 999999
diag_pin: PG6      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 70  # 255 is most sensitive value, 0 is least sensitive

[tmc2209 stepper_y]
uart_pin: PD11
run_current: 0.800
stealthchop_threshold: 999999
diag_pin: PG9      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 100  # 255 is most sensitive value, 0 is least sensitive

[tmc2209 stepper_z]
uart_pin: PC7
#uart_pin: PD11
##diag_pin: PG10
run_current: 0.650
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PC6
##diag_pin: PG11
run_current: 0.650
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PF2
run_current: 0.800
# run_current: 0.800
stealthchop_threshold: 999999